<div class="flex mb-5 mt-10 relative">
  <input
    class="input-box"
    [(ngModel)]="searchQuery"
    placeholder="Search by Category, Company or . . . ."
  />
  <div class="button-group">
    <button *ngIf="searchQuery" (click)="clearSearch()" class="filter-button">
      <span class="icon material-symbols-rounded">clear </span>
    </button>
    <button class="filter-button">
      <span class="icon material-symbols-rounded">tune </span>
    </button>
    <button
      class="search-button"
      [disabled]="!searchQuery || isLoading"
      (click)="searchJobs()"
    >
      <span
        class="icon material-symbols-rounded"
        [ngClass]="{ 'animate-spin': isLoading }"
        >{{ isLoading ? "progress_activity" : "search_insights" }}
      </span>
      Search
    </button>
  </div>
</div>
